label.col-form-label {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: 12px;
    margin-bottom: -5px;
  }

  ::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    opacity: 0.6;
    /* Adjust opacity for placeholder text */
  }

  /* Style for form-control */
  .form-control {
    border-radius: 5px;
    /* Adjust border radius */
  }

  /* Style for submit button */
  .btn-outline-dark {
    border-radius: 5px;
    /* Adjust border radius */
  }

  /* Fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fade-in1 {
    animation: fadeIn 1.5s ease-in-out; /* Adjust the duration and timing function as needed */
  }
  
  .fade-in2 {
    animation: fadeIn 2.5s ease-in-out; /* Adjust the duration and timing function as needed */
  }