/* All fonts on the page are as follows */
body {
  font-family: 'Raleway', sans-serif;
}

/* Caption code */
.caption {
    font-size: 12px;
    margin-top: 10px;
    text-align:left;
    margin-bottom: 30px;
  }
  
  /* each column */
  .col-md-4 {
    width: 33.33%; 
    height:auto;
    padding: 0 5px; 
  }
  
  /* each image in the column */
  .col-md-4 img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image fills the container but maintains aspect ratio */
  }
