/* All fonts on the page are as follows */
body {
  font-family: 'Raleway', sans-serif;
}

/* Weak text color */
.weak-text {
  color: #999;
}

/* Container holding the carousel */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* The carousel itself */
.carousel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Each image in the carousel */
.carousel-item img {
  width: 100%;
  height: auto;
}

